*{
    margin: 0;
    padding: 0;
}


.nav-bar{
    font-family: sans-serif;
    height: 3.5rem;
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 2px solid rgb(139, 138, 138);
    background-color: rgb(221, 221, 221);
}

.search-bar{
    display: flex;
    position: relative;
}

.fa-magnifying-glass{
    position: absolute;
    bottom: 13%;
    left: -20%;
}

.search{
    height: 1.5rem;
    border-radius: 50px;
    background-color: #e5e5e5;
    border: 2px solid black;
}


i{

    font-size: larger;
}
nav a{
    color: black;
    text-decoration: none;
}


.account{
    color: brown;
    text-decoration-line: underline;
}

.account:hover{
   scale: 1.2;
   transition: scale 1s ease-in-out 0.2s;
}

.small-dropdown {
  width: 15px; 
  font-size: 16px; 
}

.settings:hover{
    transform: rotateZ(90deg);
    transition: transform 2s ease-in-out ;
}

/*Spacer betwwen the nav bar and the main grid*/

#spacer1{
    background-color: white;
    height: 4rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid rgb(139,138,138);
}


#spacer1 label{
    font-weight:700;
    font-family:'Parisienne','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*code of main grid*/

.container{
    background-color: rgb(239,234,232);
    padding: 0 7% 0 7% ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(5, minmax(250px,1fr));
    gap: 20px;
}

.container a{
  text-decoration: none;
  color: black;
}

.box img{
    display: block;
    object-fit: contain;
    height: auto; 
    width: 100%;
}

.box{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background-color: rgb(139,138,138);
    overflow: hidden;
    box-shadow: 0 4px 16px rgba(0,0,0,0.08);
    transition: transform .2s ease;
}

.box:hover {
  transform: translateY(-6px);
}

.box h4{
    font-family:'Parisienne','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 120%;
} 

.box h2{
    font-family:'Parisienne','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 180%;
} 

.box h1{
    font-family:'Parisienne','Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*Footer styles*/
.main-foot{
    margin-top: 3rem;
    background-color: rgb(139, 138, 138);
    height: 16rem;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.sec1 ul a{
    font-size: large;
    color: rgb(71,61,67);
    text-decoration: none;
    list-style: none;
}

.sec2 ul a{
    font-size: large;
    color: rgb(71,61,67);
    text-decoration: none;
    list-style: none;
}


.sec3 ul i{
    font-size: 3rem;
    color: rgb(71,61,67);
    text-decoration: none;
    list-style: none;
}

h3{
    font-size: 2rem;
    color: rgb(71,61,67);
}

.end-btn {
grid-column: 1/-1;
text-align: center;
background-color: black;
color: white;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
border-radius: 6px;
padding: 10px 20px;
cursor: pointer;
margin-top: 1rem;
margin-bottom: 2rem;
width: fit-content;
justify-self: center; 
}

.effect3:hover{
    transform: scale(1.4,1.4);
    transition: transform 1s ease-in-out;
}

/*end footer*/
.end-foot{
    text-align: center;
    background-color:black;
    color: white;
}




